

<div class="cover">
  <mat-card class="example-card example-full-width" style="text-align: center;" *ngIf="projectEntry">

    <h1>{{projectEntry.title}}</h1>

    <h2>Text:</h2>
     <mat-card-subtitle>{{projectEntry.text}}</mat-card-subtitle>
     <mat-divider></mat-divider>
    <br>
     <h2>Beschreibung:</h2>
     <mat-card-subtitle>{{projectEntry.description}}</mat-card-subtitle>
     <mat-divider></mat-divider>
    <br>
     <h2>Technologien:</h2>
     <mat-card-subtitle>{{projectEntry.technology}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>
    <h2>Bearbeitungszeit in Tagen:</h2>
    <p align="center">
      <mat-icon matBadge="{{projectEntry.time}}" matBadgeColor="warn">watch_later</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
    </p>
    <h2>Zum Code:</h2>
    <mat-card-actions align="center">
      <a [href]="projectEntry.url" target="_blank" class="button" mat-raised-button color="primary">
        <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" width="100" height="60">
      </a>
      <input class="ng-hide" id="input-file-id" multiple type="file"/>
      <label for="input-file-id" class="md-button md-raised md-primary">Choose file</label>
     </mat-card-actions>
   </mat-card>

</div>
<br>








