.example-card {
  max-width: 400px;
  transform-origin: center;
  display: inline-block;
  width: 30%;
  margin: 1em 1.5%;
  box-shadow: 2px 2px 25px 0px;
  border-radius: 3px;
  background-color: #fff;
}

.example-header-image {
  background-image: url('https://conceptdraw.com/a155c4/p60/preview/640/pict--code-cloud-round-icons---vector-stencils-library.png--diagram-flowchart-example.png');
  background-size: cover;
}

body{
  margin: 100px;
}

.button{
  width: 100%;
}
