<body>

<h1 style="text-align: center;" *ngIf="sessionUser !==null">Kategorien</h1>

<mat-card class="example-card" *ngFor="let category of categories">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{category.title}}</mat-card-title>
    <mat-card-subtitle>{{category.text}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
       src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf"
       alt="app">
  <mat-card-actions>
    <button class="button" mat-raised-button color="primary" [routerLink]="['/category', category.id]">Zu den
      Projekten
    </button>
  </mat-card-actions>
</mat-card>

</body>
