<body *ngIf="sessionUser !== null">
<h1>Suche nach spannenden Projekten</h1>

<form class="example-form">
  <label>
    <input (input)="search()" [(ngModel)]="term" type="text" placeholder="Search" [formControl]="myControl"
           [matAutocomplete]="auto">
  </label>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let project of filteredProjects" [value]="project">
      <button mat-button routerLink="/category/details/{{project.id}}">{{project.title}}</button>
    </mat-option>
  </mat-autocomplete>
</form>
<br>

<mat-form-field>
  <mat-label class="label">Technology</mat-label>
  <mat-select>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'angular']" mat-button class="dropdown-item">Angular</button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'html']" mat-button class="dropdown-item">Html</button>
    </mat-option>
    <mat-option>
      <button [routerLink]="['/projects/', 'java']" mat-button class="dropdown-item">Java</button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'javafx']" mat-button class="dropdown-item">Javafx</button>
    </mat-option>
    <mat-option>
      <button [routerLink]="['/projects/', 'spring']" mat-button class="dropdown-item">
        Spring
      </button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'sql']" mat-button class="dropdown-item">
        SQL
      </button>
    </mat-option>
    <mat-option [value]="">
      <button [routerLink]="['/projects/', 'typescript']" mat-button class="dropdown-item">
        TypeScript
      </button>
    </mat-option>


  </mat-select>
</mat-form-field>




<hr>
<br>
<br>
<br>
<br>


<div class="cards-row">
  <mat-card class="example-card" *ngFor="let project of allProjects">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{project.title}}</mat-card-title>
      <mat-card-subtitle>{{project.text}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf" alt="app">
    <mat-card-content>
      <p style="text-align: center;">{{project.description}}</p>
      <p style="text-align: center;">{{project.technology}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" color="primary" mat-raised-button routerLink="/category/details/{{project.id}}">Projektdetails
      </button>
    </mat-card-actions>
  </mat-card>
  <br>
</div>
<br>
</body>
