<mat-card class="my-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <label>
          <input matInput name="username" [(ngModel)]="loginData.username">
        </label>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <label>
          <input matInput [type]="loginData.password.checked ? 'text' : 'password'" name="password" [(ngModel)]="loginData.password">
        </label>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>


