<body>
<h1 style="text-align: center;" *ngIf="sessionUser !==null">Unsere Consultants</h1>

<!--<mat-card class="example-card" *ngFor="let category of categories">-->
<mat-card class="example-card">
  <mat-card-header>
    <i mat-card-avatar class="material-icons">add_shopping_cart</i>
    <mat-card-title>Daniel</mat-card-title>
    <!--    <mat-card-subtitle>{{category.text}}</mat-card-subtitle>-->
  </mat-card-header>
  <img mat-card-image
       src="https://www.xing.com/image/b_1_6_d3ddc3948_21991339_7/daniel-uhlmann-foto.256x256.jpg"
       alt="app">
  <mat-card-actions>
    <a class="button" target="_blank" mat-raised-button color="primary"
       href="https://www.xing.com/profile/Daniel_Uhlmann6">More
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <i mat-card-avatar class="material-icons">add_shopping_cart</i>
    <mat-card-title>Willi</mat-card-title>
    <!--    <mat-card-subtitle>{{category.text}}</mat-card-subtitle>-->
  </mat-card-header>
  <img mat-card-image
       src="https://www.xing.com/img/users/f/7/7/29a46c475.25481237,2.1024x1024.jpg"
       alt="app">
  <mat-card-actions>
    <a class="button" target="_blank" mat-raised-button color="primary"
       href="https://www.xing.com/profile/Willi_Aslamov">More
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <i mat-card-avatar class="material-icons">add_shopping_cart</i>
    <!--    <div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>Katalin</mat-card-title>
    <!--    <mat-card-subtitle>{{category.text}}</mat-card-subtitle>-->
  </mat-card-header>

  <img mat-card-image
       src="https://www.xing.com/image/1_8_c_70c24109f_26363032_4/katalin-kap%C3%A1s-foto.256x256.jpg"
       alt="app">
  <mat-card-actions>
    <a class="button" target="_blank" mat-raised-button color="primary"
       href="https://www.xing.com/profile/Katalin_Kapas">More
    </a>
  </mat-card-actions>
</mat-card>

<h1 style="text-align: center;">Book your consultant now!</h1>
<h1 style="text-align: center;">50% Rabatt nur heute</h1>


</body>
