<mat-toolbar color="primary">

  <button mat-raised-button class="academy-icon" [routerLink]="['']">
    <img
      src="https://assets.website-files.com/5a8d5ad41a5b5000018eeae5/5bc8e28455fb596ea03b4285_AW_logo_Academy_small_green_RGB_Rityta%201.svg"
      width="112" height="28">
  </button>
  <div class="spacer">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <button mat-button [routerLink]="['overview']">
          Projektkategorien
        </button>
      </button>
      <button mat-menu-item>
        <button mat-button [routerLink]="['allprojects']">
          Suche
        </button>
      </button>
      <button mat-menu-item>
        <button mat-button [routerLink]="['consultants']">
          Verfügbare Consultants
        </button>
      </button>
    </mat-menu>

    <button *ngIf="sessionUser === null" mat-raised-button color="primary" [matMenuTriggerFor]="security">Sign up & Log in</button>
    <mat-menu #security="matMenu">
      <button mat-menu-item>
        <button mat-button [routerLink]="['register']">
          Sign up
          </button>
      </button>
      <button mat-menu-item>
        <button mat-button [routerLink]="['login']">
          Log in
        </button>
      </button>
    </mat-menu>
  </div>
  <button *ngIf="sessionUser !== null" mat-raised-button color="primary" (click)="logout()">
    Logout
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
