<header>
  <div class="container">
    <h1>-Do Work That Matters-</h1>
    <h3>You'll never regret it.</h3>

  </div>
</header>
<section>
  <div class="container">
    <p class="lead-in"> Willkommen auf der Academy-Doku,</p>
    <hr/>

    <p style="text-align: center;">Hier gibt es alle Projekte unserer Consultants. Viel Spaß beim stöbern.</p>

  </div>
</section>
