
.example-card {
  justify-content: flex-end;
  max-width: 400px;
  transform-origin: left center;
  display: inline-block;
  width: 30%;
  margin: 1em 1.5%;
  /*min-width: 400px;*/
  /*height: 200px;*/
  /*border: 1px solid;*/
  /*transparentize(grey, 0.7);*/
  /*box-sizing: border-box;*/
  box-shadow: 2px 2px 25px 0px;
  /*transparentize(black, 0.3);*/
  border-radius: 3px;
  /*animation: scl 0.5s ease-in-out;*/
  background-color: #fff;
}

body{
  margin: 100px;
}

.example-header-image {
  background-image: url('https://conceptdraw.com/a155c4/p60/preview/640/pict--code-cloud-round-icons---vector-stencils-library.png--diagram-flowchart-example.png');
  background-size: cover;
}
