<mat-toolbar>
  <button mat-raised-button color="primary" [routerLink]="['/category',id,'form']">Projekt hinzufügen</button>
</mat-toolbar>

<body>

<h1 style="text-align: center;">{{title}}</h1>
<br>
<mat-card class="example-card" *ngFor="let project of projects">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{project.title}}</mat-card-title>
    <mat-card-subtitle>{{project.text}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.symmetrymagazine.org/sites/default/files/styles/2015_hero/public/images/standard/better-software-2.jpg?itok=0qYT5kqf" alt="app">
  <mat-card-content>
    <p style="text-align: center;">{{project.description}}</p>
    <p style="text-align: center;">{{project.technology}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="sessionUser !== null" mat-raised-button color="primary" [routerLink]="['/category/', id, 'details', project.id]">Projektdetails</button>
    <button mat-raised-button color="warn" (click)="deleteEntry(project)">Löschen</button>
    <button mat-raised-button color="primary" [routerLink]="['/category/', id, 'details', project.id, 'edit']">Bearbeiten</button>
  </mat-card-actions>
</mat-card>

</body>

