
.full-width {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-title {
  display: flex;
  justify-content: center;
}

.mat-card-content {
  display: flex;
  justify-content: center;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.my-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

