<mat-card class="my-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
        </label>
      </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
    </label>
    </mat-form-field>
  </div>
  <mat-card-actions>
    <button mat-raised-button>
      Register
    </button>
    <button mat-raised-button color="warn">
    <a routerLink="/login" class="btn btn-link">Cancel</a>
    </button>
  </mat-card-actions>
</form>
  </mat-card-content>
</mat-card>


