

<mat-card class="my-card">
  <mat-card-title>Projekt bearbeiten</mat-card-title>
  <mat-card-content>
    <form class="my-form" (ngSubmit)="updateEntry(projectEntry)">
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <label>
          <input matInput name="title" [(ngModel)]="projectEntry.title">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Text:</mat-label>
        <label>
          <input matInput name="text" [(ngModel)]="projectEntry.text">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url:</mat-label>
        <label>
          <input matInput name="url" [(ngModel)]="projectEntry.url">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beschreibung:</mat-label>
        <label>
          <input matInput name="description" [(ngModel)]="projectEntry.description">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Technologie:</mat-label>
        <label>
          <input matInput name="technology" [(ngModel)]="projectEntry.technology">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bearbeitungszeit:</mat-label>
        <label>
          <input matInput name="time" [(ngModel)]="projectEntry.time">
        </label>
      </mat-form-field>
      <p></p>
      <button mat-raised-button color="primary" type="submit">Edit</button>
      <button mat-raised-button color="warn" (click)="goBack()">Back</button>
    </form>
  </mat-card-content>
</mat-card>
