<body>

<mat-card class="my-card">
  <mat-card-title>Neue Kategorie erstellen</mat-card-title>
  <mat-card-content>
    <form class="my-form" (ngSubmit)="writeCategory()">
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <label>
          <input matInput name="title" [(ngModel)]="newCategory.title">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Text:</mat-label>
        <label>
          <input matInput name="text" [(ngModel)]="newCategory.text">
        </label>
      </mat-form-field>
      <p></p>
      <button mat-raised-button color="primary" type="submit">Speichern</button>
    </form>
  </mat-card-content>
</mat-card>

<hr>


<mat-card class="my-card">
  <mat-card-title>Neues Projekt erstellen</mat-card-title>
  <mat-card-content>
    <form class="my-form" (ngSubmit)="writeEntry()">
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <label>
          <input matInput name="title" [(ngModel)]="newProjectEntry.title">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Text:</mat-label>
        <label>
          <input matInput name="text" [(ngModel)]="newProjectEntry.text">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Url:</mat-label>
        <label>
          <input matInput name="url" [(ngModel)]="newProjectEntry.url">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Beschreibung:</mat-label>
        <label>
          <input matInput name="description" [(ngModel)]="newProjectEntry.description">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Technologie:</mat-label>
        <label>
          <input matInput name="technology" [(ngModel)]="newProjectEntry.technology">
        </label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bearbeitungszeit:</mat-label>
        <label>
          <input matInput name="technology" [(ngModel)]="newProjectEntry.time">
        </label>
      </mat-form-field>
      <p></p>
      <button mat-raised-button color="primary" type="submit">Speichern</button>
    </form>
  </mat-card-content>
</mat-card>

</body>


